<div class="mt-2 container">
    <li class="list-group-item list-group-item-light text-capitalize text-success">
        Purchase home Page
    </li>
</div>
<div class="container mt-2 text-capitalize">
    <ul class="nav nav-justified">
        <li class="nav-item">
          <a class="nav-link" href="/makePayments">make payment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/receivePayments">receive payment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/viewPayments">view payments</a>
        </li>
      </ul>
</div>